@model SIRSS.Models.Semester

@{
    ViewBag.Title = "Details";
}

<style>
    th {
        background-color: #008CC4;
    }

    h4 {
        background-color: #008CC4;
        font-size: 30px;
        color: white;
    }

    table, th, td {
        padding: 8px;
        text-align: left;
        text-align-last: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }
</style>




<div class="content">
    <div class="container">

        <div>
            <h4>Semester</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div></div>